<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script>
    let lal = function (hrf) {
                  let elem = document.getElementById('11')
                  let elem_2 = document.getElementById('22')
                  elem.classList.add('unload')
                  elem_2.classList.add('unload')
                  window.location.href = hrf
                }
  </script>
</head>
<body>
<div id="11" class="preloader_1">
  <div id="22" class="preloader__image_1"></div>
</div>
<div class="btns-botomm">
    <button class="back"><a href="{% url 'main' %}">Back</a></button>
    <button class="back"><a href="{% url 'delete' %}">Delete</a></button>
</div>
  <div class="div">
    <div class="img-block">
      <div class="img">
        <div class="loud-img">
        <div class="tx-1">{{ name }}</div>
        {% if img != '0' %}
        <img class="img-like" src="{% static 'face_images/' %}{{ gender }}/{{ img }}">
        {% endif %}
            <div class="btns-img">
              {% if not first %}
          <a class="befors" href="">
            <img class="next befor" src="{% static 'imgs/right-arrow.png' %}" alt="#">
          </a>
              {% else %}
          <a class="befors-2">
            <img class="next befor" src="{% static 'imgs/right-arrow.png' %}" alt="#">
          </a>
              {% endif %}

              {% if not last %}
          <a class="likes" href="{% url 'like' gender id %}">
            {% if id in like_list_int %}
            <img class="like" src="{% static 'imgs/like-red.png' %}" alt="#">
            {% else %}
            <img class="like" src="{% static 'imgs/like.png' %}" alt="#">
            {% endif %}
          </a>
          <a class="nexts" href="">
            <img class="next" src="{% static 'imgs/right-arrow.png' %}" alt="#">
          </a>
              {% else %}
          <a class="likes" href="{% url 'like' gender id %}">
            {% if id in like_list_int %}
            <img class="like" src="{% static 'imgs/like-red.png' %}" alt="#">
            {% else %}
            <img class="like" src="{% static 'imgs/like.png' %}" alt="#">
            {% endif %}
          </a>
          <a class="nexts-2">
            <img class="next" src="{% static 'imgs/right-arrow.png' %}" alt="#">
          </a>
             {% endif %}
          </div>
          {% if n > 0 %}
            <a class="result active"
               onmousedown='lal("{% url "create_img" gender like_list %}")'>
              See result</a>
          {% else %}
            <a class="result">See result</a>
          {% endif %}
        </div>

      </div>


    </div>
  </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  id = {{ id }}
  n = {{ n }}
  ln = {{ ln }}
  window.onload = function () {
    $.ajax(
      {
          url: "/face_average/{{ gender }}/" + 0,
          success: function () {
              $('.loud-img').html('').load("/face_average/{{ gender }}/" + 0);
          },
      });
  event.preventDefault();

    $('.img').on('click', '.likes', function () {
        var t_href = event.target;
        $.ajax(
            {
                url: "/like/{{ gender }}/" + id,
                success: function () {
                    $('.loud-img').html('').load("/face_average/{{ gender }}/" + id);
                },
            });
        event.preventDefault();
    })

    $('.img').on('click', '.nexts', function () {
        var t_href = event.target;
        id++;
        $.ajax(
            {
                url: "/face_average/{{ gender }}/" + id,
                success: function () {
                    $('.loud-img').html('').load("/face_average/{{ gender }}/" + id);
                },
            });
        event.preventDefault();
    })

    $('.img').on('click', '.befors', function () {
        var t_href = event.target;
        id--;
        $.ajax(
            {
                url: "/face_average/{{ gender }}/" + id,
                success: function () {
                    $('.loud-img').html('').load("/face_average/{{ gender }}/" + id);
                },
            });
        event.preventDefault();
    })
}
</script>
</body>
</html>